<div
  class="pensamento {{ thought.model }} ff-roboto-mono"
  [ngClass]="thoughtWidth()"
>
  <img src="/assets/Imagens/{{ thought.model }}.png" alt="Aspas Coloridas" />
  <p class="conteudo">{{ thought.content }}</p>
  <p class="autoria">{{ thought.authorship }}</p>
  <div class="acoes">
    <button class="botao-editar">
      <img src="/assets/Imagens/icone-editar.png" alt="Icone de Editar" />
    </button>
    <button class="botao-excluir">
      <img src="/assets/Imagens/icone-excluir.png" alt="Icone de excluir" />
    </button>
  </div>
</div>
